body{
    background-color: #FAFAFA;
}
#container{
    width: 100%;
    
    /* display: flex;
    justify-content: center; */
}
.brands{
    width: 90%;
    display: inline-flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    /* border: solid red; */
}
img{
    width: 6%;
}
#bar{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#logo>img{
    width: 200px;
    margin-top: 20px;
}
#SearchTab{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    width: 80%;
}
.icon{
    display: flex;
    width: 40%;
    justify-content: flex-end;
}
.icon img{
    width: 30px;
}
#login a:link{
    font-family: LatoMedium,sans-serif;
    font-weight: 400;
    text-decoration: unset;
}
#logout{
    text-align: center;
}
#cart a:link{
    font-family: LatoMedium,sans-serif;
    font-weight: 400;
    text-decoration: unset;
}
.search{
    display: flex;
    text-align: center;
    margin-left: 90px;
}
form {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 700px;
  }
  form input {
    font-size: 25px;
    width: 65%;
  }
  #searchbtn{
    background-color: #663399;
    color: white;
    width: 25%;
  }
  #searchbtn:hover{
    cursor: pointer;
}
.icon img{
    padding-right: 20px;
    width: 50px;
}
#cart{
    margin: 10px;
}
#login{
    margin: 10px;
}
#login img{
    width: 40px;
}
#cart img{
    width: 30px;
}
.catg-container{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#catg{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}
#catg h3{
    font-family: LatoBold, sans-serif;
    font-size: min(1.2vw, 0.95rem);
    color: rgb(47, 47, 47);
}
#cont{
    width: 100%;
}
#card{
    width: 50%;
    margin: auto;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
    margin-top: 20px;
}
#card{
    padding-top: 10px;
    margin-top: 20px;
    padding-left: 40px;
    margin-right: 0px;
    position: absolute;
    left: 30%;
    
}
#card input{
    width: 70%;
    font-size: 20px;;
}
#card p{
    font-family: LatoMedium,sans-serif;
    font-weight: 400;
    text-decoration: unset;
    line-height: 1.43;
    margin-bottom: 0px;
}
#card input ::placeholder{
    font-family: LatoMedium,sans-serif;
    font-weight: 400;
    text-decoration: unset;
    line-height: 1.43;
}
#card #button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    background-color: #663399;
    color: white;
    border: none;
    height: 40px;
}
#placed{
    text-align: center;
    font-family: LatoMedium,sans-serif;
    font-weight: 400;
    text-decoration: unset;
    line-height: 1.43;
}
