#container{
    width: 100%;
    
    /* display: flex;
    justify-content: center; */
}
.brands{
    width: 90%;
    display: inline-flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    /* border: solid red; */
}
img{
    width: 6%;
}
#bar{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#logo>img{
    width: 200px;
    margin-top: 20px;
}
#SearchTab{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    /* border: solid red; */
    
}
.icon{
    margin-left: 200px;
    margin-top: 20px;

}
.search{
    display: flex;
    width: 50%;
    margin-left: 100px;

}
.search>input{
    width: 500px;
    font-size: 30px;
    text-align: center;
}
.search>input::placeholder{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.search>button{
    width: 150px;
    font-weight: bold;
    background-color: #663399;
    color: white;
}
.icon{
    display: flex;
    width: 300px;
    justify-content: space-around;
}
.icon img{
    padding-right: 20px;
    width: 50px;
}

#more {
    display: none;
}
.heading{
    display: flex;
    width: 90%;
    margin: auto;
    /* justify-content: left; */
    align-items: center;
}
.heading>div{
    width: 45%;
}
#para{
    width: 100%;
}
p{
    line-height: 25px;
    font-family: LatoMedium,sans-serif;
    font-weight: 400;
}
h1{
    font-size: 30px;
    color: #663399;
    font-family: LatoMedium,sans-serif;
    
    
}
#Card{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 50px;
}
.prod img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#details{
    width: 90%;
    margin: auto;
}
#details p{
    color: #757575;;
}
#details h3{
    color: #663399;
    font-family: LatoMedium,sans-serif;
    
}
#Bottom{

}
#Bottom>div>p{
    margin-top: 0px;
    margin-bottom: 0px;
}
#Bottom{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    color: white;
}
#Bottom>div>div>img{
    width: 50px;
}
.BottomSection{
    background-color: #663399;
}
#logout:hover{
    cursor: pointer;
}



