#container{
    width: 100%;
    
    /* display: flex;
    justify-content: center; */
}
.brands{
    width: 90%;
    display: inline-flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    /* border: solid red; */
}
img{
    width: 6%;
}
#bar{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#logo>img{
    width: 200px;
    margin-top: 20px;
}
#SearchTab{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    width: 80%;
}
.icon{
    display: flex;
    width: 40%;
    justify-content: flex-end;
}
.icon img{
    width: 30px;
}
#login a:link{
    font-family: LatoMedium,sans-serif;
    font-weight: 400;
    text-decoration: unset;
}
#logout{
    text-align: center;
}
#cart a:link{
    font-family: LatoMedium,sans-serif;
    font-weight: 400;
    text-decoration: unset;
}
.search{
    display: flex;
    text-align: center;
    margin-left: 90px;
}
form {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 700px;
  }
  form input {
    font-size: 25px;
    width: 65%;
  }
  #searchbtn{
    background-color: #663399;
    color: white;
    width: 25%;
  }
  #searchbtn:hover{
    cursor: pointer;
}
.icon img{
    padding-right: 20px;
    width: 50px;
}
#cart{
    margin: 10px;
}
#login{
    margin: 10px;
}
#login img{
    width: 40px;
}
#cart img{
    width: 30px;
}
.catg-container{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#catg{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}
#catg h3{
    font-family: LatoBold, sans-serif;
    font-size: min(1.2vw, 0.95rem);
    color: rgb(47, 47, 47);
}

#more {
    display: none;
}
.heading{
    display: flex;
    width: 90%;
    margin: auto;
    /* justify-content: left; */
    align-items: center;
}
#title{
    display: flex;
}
.heading>div{
    width: 45%;
}
#para{
    width: 100%;
}
#para button{
    background-color: #663399;
    color: white;
}
p{
    line-height: 25px;
    font-family: LatoMedium,sans-serif;
    font-weight: 400;
}
h1{
    font-size: 30px;
    color: #663399;
    font-family: LatoMedium,sans-serif;
    
    
}
#Card{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 50px;
}
.nametag{
    font-family: LatoMedium,sans-serif;
    font-weight: 400;
    line-height: 1.43;
    font-size: 16px;
    margin-bottom: 2px;
}
.prod img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pricetag{
    font-family: LatoMedium,sans-serif;
    margin-top: 0px;
}
#details{
    width: 90%;
    margin: auto;
}
#details p{
    color: #757575;;
}
#details h3{
    color: #663399;
    font-family: LatoMedium,sans-serif;
    
}
#Bottom>div>h3{
    padding-left: 0px;
    font-family: LatoMedium,sans-serif;
    font-weight: 400;
    line-height: 1.43;

}
#Bottom>div>p{
    margin-top: 0px;
    margin-bottom: 0px;
}
#Bottom{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    color: white;
}
#Bottom>div>div>img{
    width: 50px;
}
.BottomSection{
    background-color: #663399;
}
#logout:hover{
    cursor: pointer;
}
#Card>div:hover{
    cursor: pointer;
}



