body{
    background-image: url(https://cdn1.harryanddavid.com/wcsstore/Celebrations/images/brand_backgrounds/18F_large.jpg);
}
#cont{
    width: 100%;
    display: flex;
    justify-content: center;;
}
#card{
    width: 45%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding-left: 40px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10%;
    
}
#email{
    width: 65%;
    height: 30px;
    text-align: center;
}
#pass{
    width: 65%;
    height: 30px;
    text-align: center;
}
#First-Name{
    width: 65%;
    height: 30px;
    text-align: center;
}
#Last-Name{
    width: 65%;
    height: 30px;
    text-align: center;
}
#button{
    width: 70px;
    height: 30px;
    display: block;
    margin-top: 10px;
    background-color: #663399;
    color: white;
    font-weight: bold;
}
#button:hover{
    cursor: pointer;
}
a{
    display: block;
    margin-bottom: 5px;
    color: #663399;
}
p{
    color: #663399;
    font-weight: bold;
}